<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Practice Suite" data-provider-thread-count="3" parallel="tests">

    <test  thread-count="2" name="Test Basics 1" parallel="methods">
        <parameter name="browserName" value="chrome"></parameter>
        <classes>
            <class name="harelTests"/>
        </classes>
    </test> <!-- Test -->

</suite> <!-- Suite -->